<form [formGroup] = "form">
  <mat-form-field>
    <input type="text" maxlength="60"
           matInput formControlName="title" placeholder="Enter a title">
    <mat-error>{{getErrorMessage('title')}}</mat-error>
  </mat-form-field><br>
  <mat-form-field>
    <input type="text" maxlength="60" matInput formControlName="authorName" placeholder="Enter an author name">
    <mat-error>{{getErrorMessage('authorName')}}</mat-error>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput [max]="maxDate" [matDatepicker]="datepicker" readonly formControlName="publishedDate">
    <mat-error>{{getErrorMessage('publishedDate')}}</mat-error>
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
  </mat-form-field>
  <div class="btnCont">
  <button mat-raised-button mat-dialog-close color="primary">Cancel</button>
  <button [disabled]="form.invalid" mat-raised-button (click)="saveChanges()" color="primary">Save</button>
  </div>
</form>
