$mainColor: blanchedalmond;
$width: 100%;
.cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90%;
  margin-top: 2vh;
  overflow: auto;
}
h1{
  color: $mainColor;
  text-align: center;
}
app-book, .cont{
  width: $width;
  :hover {
  background-color: $mainColor;
}
}
button{
  border-radius: $width/2;
  position: fixed;
  left: 70vw;
  top: 90vh;
  outline: none;
  background-color: $mainColor !important;
}
i{
  color: black;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: $mainColor;
  border-radius: 10px;
}
