/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  width: 98vw;
  height: 96vh;
  margin: 0px;
  padding: 0px;
  background: url("assets/library.jpg") no-repeat fixed;
  background-size: cover;
}

.error{
  background-color: lightpink;
  color: black;
}
